*{margin:0;padding:0;list-style:none;}
.loginpanel{width:380px;height:247px;left:500px;top:120px;position:absolute;
border:1px solid #ccc;background:#f6f6f6;-moz-border-radius:10px;-webkit-border-radius:10px;
border-radius:10px;-moz-box-shadow:0 0 8px #000;-webkit-box-shadow:0 0 8px #000;
box-shadow:0 0 8px #000;}



.top{position:relative; z-index:1;}



.ui_boxyClose{position:absolute;top:-10px;right:-10px;width:28px;height:28px;cursor:pointer;
background:url("../images/hedden.jpg") no-repeat;z-index:10;-moz-border-radius:100%;
-webkit-border-radius:100%;border-radius:100%;}



.webQQ{width:200px;height:44px;cursor:move;background:url("../images/qie.jpg") no-repeat 80px 0px;
margin-left:100px;margin-top:10px;}



.main{font:bold 15px arial; margin-left:80px;margin-top:30px;}



.main .sign_input{padding-bottom:20px;}



.main .sign_input input{width:170px;border:1px #ccc solid;color:#868686;font-size:16px;
padding:2px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;outline:none;}



.btn{background:url("../images/imag.jpg.jpg") no-repeat -30px 0px;-webkit-border-radius:30px;width:111px;height:36px;border:0;text-align:center;
line-height:20px;color:#0C4E7C;cursor:pointer;margin-left:12px;float:left;}



.bottom{float:left;margin-left:70px;}



.state{margin-left:10px;float:left;}



.state ul li{font-size:12px;}



.statePanel{display:block;position:absolute;right:62px;top:200px; z-index:10;margin:0;
border-width:1px;border-style:solid;border-color:#ccc #6a6a6a #666 #cdcdcd;padding:0;
width:100px;height:133px;overflow:hidden;background:white;font-size:12px;line-height:1.5;}



.statepanel .statepanel_li{display:block;float:left;margin:0;padding: 3px 0;width:100px;
height:16px;line-height:16px;overflow:hidden; zoom:1;cursor:pointer;}



.login-state-trigger{cursor:pointer;display:block;float:left;height:16px;overflow:hidden;
width:120px;margin:4px 0 0 0;}



.login-state-trigger2{margin:10px 0 0 20px;}



.login-state-down{background:url("../images/zhenben.jpg") no-repeat scroll 0 0 transparent;float:left;
height:6px;margin-top:5px;overflow:hidden;text-indent:-999em;width:7px;}



.login-state-show{float:left;height:14px;overflow:hidden;text-indent:-999em;
width:14px;margin:1px 4px 0 0;}



.login-state-txt{float:left;margin-left:5px;font-size:12px;line-height:18px!important;}



.stateSelect_icon{float:left;margin:2px 0 0 5px;width:14px;height:14px;overflow:hidden;
-moz-border-radius:100%;-webkit-border-radius:;border-radius:100%;}



.callMe{background:url("../images/callme.png") 0 0 no-repeat;}



.online{background:url("../images/online.png") 0 0 no-repeat;}



.away{background:url("../images/away.png") 0 0 no-repeat;}



.busy{background:url("../images/busy.png") 0 0 no-repeat;}



.silent{background:url("../images/silent.png") 0 0 no-repeat;}



.hidden{background:url("../images/hidden520.png") 0 0 no-repeat;}



.stateSelect_text{margin:0 0 0 22px;}



